@model Menu.Site.ViewModels.User.ChangePasswordVM

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<h4>Change Password User</h4>
<hr />
<div class="row pb-3">
    <div class="col-md-6">
        <form asp-action="ChangePassword">
            <input type="hidden" asp-for="Username" />

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepPass" class="control-label"></label>
                <input asp-for="RepPass" class="form-control" />
                <span asp-validation-for="RepPass" class="text-danger"></span>
            </div>
           
            <div class="form-group mt-2">
                <input type="submit" value="SaveChange" class="btn px-5 btn-primary" />
            </div>
        </form>
    </div>
</div>
