@model CreateProductVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Create Product </h4>
<hr />
<div class="row pb-3">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="@ViewBag.CategoryId" class="form-select" >
                    <option value="" selected>دسته بندی</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Detail" class="control-label"></label>
                <textarea asp-for="Detail" class="form-control" rows="5" ></textarea>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label">
                    <input id="isActive" checked class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn px-5 btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $("#isActive").on('change', function() {
          if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
          } else {
            $(this).attr('value', 'false');
          }
        });
    </script>

}
